<style>
.btn-group a {
  text-decoration: none;
  font: 20px;
}
.btn-group button {
  margin: 10px;
  padding: 3rem;
  font-size: 1.2rem;
  font-weight: bold;
  display: block;
  width: 25%;
  display: flex;
  justify-content: center;
  
}

.search-container {
  text-align: center;
}

.search-label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  
}



</style>

  <div class="form-group">
    <label for="search">Search Item:</label>
    <p> for search available by item Name, categories or location click the button below
  </div>
  <div class="search-container">
    <label for="search-by">Search by:</label>
    <div class="btn-group" role="group" aria-label="Search by">
   <div> <button><a href="/itemlist" class="btn btn-primary  ">Item name</a></button></div>
      <div><button><a href="#" class="btn btn-primary  ">Categories</a></button></div>
      <div><button><a href="#" class="btn btn-primary  ">Location</a></button></div>
    </div>
  </div>
 

</form>
