
<div>

    <h2>
      Show all available item  by categories
    </h2>
    
    <div>
        <form action="/category_item" method="get">
        <label for="query_category">Choose a Category:</label>
<select name="query_category" id="query_category">
  <option value="Produce">Produce</option>
  <option value="Frozen">Frozen</option>
  <option value="Drinks" >Drinks</option>
  <option value="Condiments">Condiments</option>
  <option value="Fruits">Fruits</option>
  <option value="Snacks">Snacks</option>
  <option value="Backing/Spices" >Baking/Spices</option>
  <option value="Bread/Grains">Bread/Grains</option>
  <option value="Dairy">Dairy</option>
  <option value="For the Home">For the Home</option>
  <option value="Toiletries">Toiletries</option>
</select>
      </div>

        <button>
          Submit
        </button>
       </form>
        <hr>
   